<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.tsinghua.zhouhang.liuyihao.thubbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.THUBBS"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.activity.UserSpaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notifications.launchedActivities.CommentNotificationActivity"
            android:exported="false"
            android:label="@string/comment" />
        <activity
            android:name=".ui.notifications.launchedActivities.FollowNotificationActivity"
            android:exported="false"
            android:label="@string/follow" />
        <activity
            android:name=".ui.notifications.launchedActivities.LikeActivity"
            android:exported="false"
            android:label="@string/like" />
        <activity
            android:name=".ui.activity.EditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>